# Twilio API credentials
# Found at https://www.twilio.com/user/account/settings
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=your-token

# Twilio phone number
# Purchase one at https://www.twilio.com/user/account/phone-numbers
TWILIO_NUMBER=+15551234567

# App SID
# Found at https://www.twilio.com/console/voice/dev-tools/twiml-apps
TWILIO_TWIML_APP_SID=APXXXXXXXXXXXXXXXXXXXXXXXXX
